   <div class="jumbotron jumbo-alt text-center">
        <h1>ABOUT</h1>
        <p style="font-family:Hip;">?Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris erat velit, convallis
          suscipit enim eleifend, imperdiet posuere ante. Nunc vitae ipsum a dolor semper consequat ac rutrum
           dolor. Morbi libero neque, aliquam ut volutpat blandit, mollis eget dui. Nulla accumsan leo eget
            risus molestie ornare. Quisque vitae arcu nec urna iaculis tempor id in ipsum. Quisque venenatis
             augue et mauris viverra, sit amet viverra enim mattis. Donec rutrum, leo non suscipit sodales,
              nibh massa convallis ante, elementum ultricies eros dolor hendrerit neque. Vivamus tortor eros,
               interdum ac enim id, dapibus maximus enim. Vivamus dapibus quis mi sed aliquet. Cras in convallis
               nulla. Aliquam suscipit blandit ornare.
         Etiam efficitur nisi quis ornare tempor. Donec metus arcu, tincidunt nec efficitur vitae, interdum sed eros.
       </p>
    </div>
