<div class="jumbotron jumbo-alt text-center">
  <h1>ABOUT</h1>
  <p>
    I am a fully qualified mobile Makeup Artist located in Point Cook, Victoria,
    also servicing the surrounding suburbs. I have a background in Photography which has given me an eye
    for detail and beauty, this inspired me to get into the world of Makeup Artistry. I love enhancing
    natural beauty, getting creative, and trying new styles and techniques. My favorite products to
    work with are MAC Cosmetics.
    </br>
    For up to date news, promotions and images of recent work don't
    forget to check out my <a href="https://www.facebook.com/pages/Kelsi-Kay-Makeup-Artistry/639833736122560?fref=ts" target="_blank">Facebook page.</a>
  </p>
</div>
