<div class="jumbotron  jumbo-alt text-center">
     <h1>CONTACT</h1>


     <!--/client-say-->
     	  <div class="contact-head text-center">
     		  <div class="contact-grids">
     			  <div class="container">
     				  <div class="col-md-4 address">
     						<p></p>
     						<h5><i class="fa fa-phone" style="padding-right:20px"></i>0403728759</h5>
     						<h5><i class="fa fa-envelope" style="padding-right:20px"></i></i>sales@kelsikaymakeup.com.au</h5>
     						<h5><i class="fa fa-map-marker" style="padding-right:20px"></i></i>Point Cook, Melbourne</h5>
     				  </div>
     				  <div class="col-md-8 contact">
     					  <form>
     					  <input type="text" class="text" value=" Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Name';}">
     					  <input type="text" class="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your mail';}">
     					  <textarea onfocus="if(this.value == 'Message') this.value='';" onblur="if(this.value == '') this.value='Enter Message Here';" >Message</textarea>
     					  <input type="submit" value="Send message">
     					  <div class="clearfix"></div>
     					   </form>
     				   </div>
     				  <div class="clearfix"></div>
     			  </div>
     		  </div>
     </div>
 </div>
