.thing-form
    margin 20px 0

#banner
    border-bottom none
    margin-top -20px

#banner h1
    font-size 60px
    letter-spacing -1px
    line-height 1

.hero_image
    width 100%

.nav
    img
        max-height 25px

.hero-unit
    background #FFFFFF
    color #F5F5F5
    padding 30px 15px
    position relative
    text-align center
    text-shadow 0 1px 0 rgba(0, 0, 0, 0.1)
    img
      width 50%
      min-width 200px
      max-width 300px

.carousel-image
    width 100%
    margin auto

.footer
    margin-top 70px
    padding 30px 0
    text-align center
    background-color #FDF5F5
    font-family Skinny
    font-size 2em
    color #CDCDCD

.homeplate
    height 100vh
