.thing-form
    margin 20px 0

#banner
    border-bottom none
    margin-top -20px

#banner h1
    font-size 60px
    letter-spacing -1px
    line-height 1

.hero_image
    width 100%

.nav
    img
        max-height 25px

.hero-unit
    background #FFFFFF
    color #F5F5F5
    position relative
    text-align center
    text-shadow 0 1px 0 rgba(0, 0, 0, 0.1)
    img
      width 50%
      min-width 200px
      max-width 300px

.carousel-image
    max-width 960px
    margin auto

.center-text
    text-align center

.carousel-control.right
    color #CDCDCD
    background  none
    opacity 1
        &:hover
            color #111111

.carousel-control.left
    color #CDCDCD
    background  none
    opacity 1
        &:hover
            color #111111

.footer
    margin-top 70px
    padding 30px 0
    text-align center
    background-color #FDBDA7
    font-family Skinny
    font-size 2em
    color #CDCDCD
    p
        font-family Skinny
        color #FFFFFF

.homeplate
    height 100vh

.testimonials
    font-size 1.2em
    color #989898

.contact-grids
    margin 6em 0

.address
    text-align left
    h5
        font-size 1.2em

.contact form input[type="text"],.contact textarea
  	color #CDCDCD
    font-size 1.2em
  	border 1px solid #CDCDCD
  	outline 0
  	padding 0.5em
  	width 48%

.contact textarea
  	width 98%
  	margin-top 2em
  	min-height 150px
  	resize none

.contact form input[type="submit"]
    width 35px
    height 35px
    display block
    padding 0 7em 0 3em
    float right
    border none
    outline none
    margin-top 2em
    font-size 1.2em
    background #fccebe
    color #FFFFFF

.fa-phone
    padding-right 24px

.fa-map-marker
    padding-right 27px

.service-list
    li
        font-size 1.5em
        color #CDCDCD
        span
            color #989898
